@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F0F0F0;
  color: #000000;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.opacity {
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  margin: 0 auto;
  width: 320px;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 32px;
  }
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.header-wrapper {
  background-image: url(../images/header-red-background-mobile-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-wrapper {
    position: relative;
    min-height: 460px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-retio: 2), screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .header-wrapper {
    background-image: url(../images/header-red-background-mobile@2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .header-wrapper {
    min-height: 222px;
    background-image: url(../images/header-red-background-tablet-min.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-retio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-wrapper {
    background-image: url(../images/header-red-background-tablet@2x-min.png);
  }
}
@media screen and (min-width: 1280px) {
  .header-wrapper {
    min-height: 316px;
    background-image: url(../images/header-red-background-desktop-min.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-retio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header-wrapper {
    background-image: url(../images/header-red-background-desktop@2x-min.png);
  }
}

.header-nav {
  display: flex;
}

.search-wrapper {
  width: 100%;
  display: flex;
}
@media screen and (max-width: 768px) {
  .search-wrapper {
    flex-direction: column-reverse;
  }
}

.input-wrapper {
  position: relative;
}

.header__input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 14px;
  margin-top: 56px;
  border-radius: 100px;
  border: 0;
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 320px) {
  .header__input {
    display: block;
    width: 252px;
    height: 34px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header__input {
    width: 165px;
    height: 38px;
    margin-left: 16px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 1280px) {
  .header__input {
    width: 187px;
    height: 42px;
    margin-left: 32px;
  }
}

.header__input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  padding-left: 14px;
  color: #000;
}

.header__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  padding-left: 14px;
  color: #000;
}
@media screen and (min-width: 768px) {
  .header__input::-moz-placeholder {
    font-size: 14px;
    line-height: 1.14;
    padding-left: 16px;
  }
  .header__input::placeholder {
    font-size: 14px;
    line-height: 1.14;
    padding-left: 16px;
  }
}

.header__btn {
  display: block;
  position: absolute;
  top: 9px;
  right: 10px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__btn {
    top: 10px;
    right: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .header__btn {
    top: 12px;
  }
}

.header__search-logo {
  fill: transparent;
  stroke: #000;
  width: 14px;
  height: 14px;
}
@media screen and (min-width: 768px) {
  .header__search-logo {
    width: 16px;
    height: 16px;
  }
}

.header__links-wrapper {
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__links-wrapper {
    margin-left: 14px;
  }
}

.header__link-home {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 26px;
  margin-left: 14px;
  margin-top: 14px;
  width: 87px;
  height: 34px;
  background-color: #fff;
  color: #000;
  border-radius: 100px;
  border: 0;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media screen and (min-width: 768px) {
  .header__link-home {
    padding: 12px 24px;
    margin-left: 4px;
    margin-top: 16px;
    width: 83px;
    height: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .header__link-home {
    padding: 14px 32px;
    margin-left: 8px;
    width: 99px;
    height: 42px;
  }
}

.header__link-home:hover,
.header__link-home:focus {
  background-color: #000;
  color: #fff;
}

.header__link-library {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  margin-left: 4px;
  margin-top: 14px;
  width: 113px;
  height: 34px;
  background-color: #fff;
  color: #000;
  border-radius: 100px;
  border: 0;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media screen and (min-width: 768px) {
  .header__link-library {
    width: 109px;
    height: 38px;
    padding: 12px 17px;
    margin-left: 4px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .header__link-library {
    width: 117px;
    height: 42px;
    padding: 14px 21px;
    margin-left: 8px;
  }
}

.header__link-library:hover,
.header__link-library:focus {
  background-color: #000;
  color: #fff;
}

.current {
  background-color: #000;
  color: #fff;
}

.header__user-links-wrapper {
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__user-links-wrapper {
    position: absolute;
    bottom: 24px;
    margin-left: 65px;
  }
}

.header__link-watched {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 23px;
  width: 102px;
  height: 34px;
  background-color: #fff;
  color: #b92f2c;
  border-radius: 100px;
  border: 0;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media screen and (min-width: 768px) {
  .header__link-watched {
    width: 102px;
    height: 38px;
    padding: 12px 23px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .header__link-watched {
    width: 117px;
    height: 42px;
    padding: 14px 32px;
  }
}

.header__link-watched:hover,
.header__link-watched:focus {
  background-color: #b92f2c;
  color: #fff;
}

.header__link-queue {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  margin-left: 4px;
  width: 86px;
  height: 34px;
  background-color: #fff;
  color: #b92f2c;
  border-radius: 100px;
  border: 0;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
@media screen and (min-width: 768px) {
  .header__link-queue {
    width: 86px;
    height: 38px;
    padding: 12px 24px;
    margin-top: 16px;
    margin-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .header__link-queue {
    width: 117px;
    height: 42px;
    padding: 14px 24px;
    margin-left: 8px;
    margin-right: 32px;
  }
}

.header__link-queue:hover,
.header__link-queue:focus {
  background-color: #b92f2c;
  color: #fff;
}

.logo-wrapper-home {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}
@media screen and (min-width: 320px) {
  .logo-wrapper-home {
    margin: 20px auto;
  }
}
@media screen and (min-width: 768px) {
  .logo-wrapper-home {
    margin-left: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .logo-wrapper-home {
    margin-left: 32px;
    margin-bottom: 32px;
  }
}

.header__logo {
  fill: transparent;
  stroke: #fff;
  width: 32px;
  height: 32px;
  margin-bottom: 55px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    width: 40px;
    height: 40px;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    width: 59px;
    height: 59px;
  }
}

.header__link-filmoteka {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 8px;
  margin-bottom: 55px;
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header__link-filmoteka {
    margin: 0;
    font-size: 40px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .header__link-filmoteka {
    font-size: 64px;
    line-height: 1.17;
    margin-left: 16px;
  }
}

.film__card {
  display: flex;
  flex-direction: column;
}

.film__thumb {
  border-radius: 5px;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .film__thumb {
    width: 280px;
    height: 402px;
  }
}
@media screen and (min-width: 767.98px) {
  .film__thumb {
    width: 336px;
    height: 455 px;
  }
}
@media screen and (min-width: 1280px) {
  .film__thumb {
    width: 395px;
    height: 574px;
  }
}

.film__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 250ms linear;
}
@media screen and (min-width: 768px) {
  .film__card:hover .film__image, .film__card:focus .film__image {
    transform: scale(1.05);
  }
}

.film__card:focus,
.film__card:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.film__info {
  padding: 10px 8px 8px 8px;
}
@media screen and (min-width: 767.98px) {
  .film__info {
    padding-top: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .film__info {
    padding-top: 12px;
  }
}

.film__name {
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* 24/20 */
}

.film__description {
  color: #B92F2C;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  /* 24/20 */
}

.films {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 767.98px) {
  .films {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .films {
    padding-top: 32px;
    padding-bottom: 60px;
  }
}

.films__container {
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
@media screen and (min-width: 767.98px) {
  .films__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .films__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
}

.nothing img {
  display: flex;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.footer .footer_bg {
  background-color: #f7f7f7;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
  min-width: 320px;
}
@media screen and (min-width: 768px) {
  .footer .footer_bg {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .footer_bg {
    padding-top: 29px;
    padding-bottom: 29px;
  }
}

.copyright {
  display: block;
  margin-left: 41px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .copyright {
    display: inline-block;
    margin: 0;
  }
}

.footer-span-js {
  margin-left: 22px;
}
@media screen and (min-width: 768px) {
  .footer-span-js {
    margin: 0;
  }
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #545454;
}
@media screen and (min-width: 768px) {
  .footer-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
  }
}

.footer-link:hover,
.footer:focus {
  color: blue;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.underline {
  text-decoration: underline;
}

.footer-svg {
  animation: heartbeat 1s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.8);
  }
  20% {
    transform: scale(0.9);
  }
  40% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.footer-svg:hover, .footer-svg:focus {
  animation-play-state: paused;
}

.button_study {
  border: none;
  outline: none;
  background-color: #f7f7f7;
  padding: 0;
}

/*Не редактировать (пока я не закончу работу)*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal__backdrop {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal__window {
  width: 280px;
  margin-top: 50px;
  padding: 48px 20px 40px 20px;
  background-color: #fff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .modal__window {
    padding: 40px 72px 64px 36px;
    width: 704px;
    display: flex;
    gap: 68px;
  }
}
@media screen and (min-width: 1200px) {
  .modal__window {
    padding: 40px 20px;
    width: 806px;
    gap: 16px;
  }
}

/*Для редактирования*/
.modal--show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__descr {
  display: block;
  min-width: 240px;
}
@media screen and (min-width: 320px) {
  .image__descr {
    width: 240px;
  }
}
@media screen and (min-width: 768px) {
  .image__descr {
    display: inline-block;
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .image__descr {
    width: 391px;
  }
}

.modal__button {
  position: absolute;
  color: #000;
  border: none;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal__cross {
  fill: #000;
}

.modal_image {
  margin-bottom: 20px;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
}
@media screen and (min-width: 320px) {
  .modal_image {
    max-width: 240px;
    height: 357px;
  }
}
@media screen and (min-width: 768px) {
  .modal_image {
    margin-bottom: 0;
    max-width: none;
  }
}
@media screen and (min-width: 1200px) {
  .modal_image {
    width: 375px;
    height: 478px;
  }
}

.modal_title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .modal_title {
    font-size: 30px;
    line-height: 35px;
  }
}

.modal_documentation {
  display: flex;
}

.documentation_text:not(:last-child) {
  margin-bottom: 8px;
}

.properties {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.properties_storage--titles {
  display: inline-block;
  width: 80px;
}

.properties_storage {
  display: inline-block;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .properties_storage {
    width: 174px;
  }
}
@media screen and (min-width: 1200px) {
  .properties_storage {
    width: 239px;
  }
}

.properties_value {
  display: inline-block;
  margin-left: 39px;
  max-width: 200px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  .properties_value {
    width: 239px;
    margin-left: 50px;
  }
}

.documentation_value {
  display: inline-block;
}
.documentation_value:not(:last-child) {
  margin-bottom: 8px;
}

.modal_about_title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 8px;
}

.modal_description {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
}

.modal_buttons {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  width: 240px;
}
@media screen and (min-width: 768px) {
  .modal_buttons {
    width: 264px;
    gap: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .modal_buttons {
    width: 307px;
    gap: 8px;
  }
}

.add-to-watched {
  width: 125px;
  height: 34px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;
  color: #b92f2c;
  background: #fff;
  border: 1px solid #000000;
  box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
  border-radius: 100px;
  transition-property: color, border, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.add-to-watched:hover, .add-to-watched:focus {
  color: #fff;
  background-color: #b92f2c;
  border: none;
}
@media screen and (min-width: 768px) {
  .add-to-watched {
    width: 137px;
    height: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .add-to-watched {
    width: 165px;
    height: 42px;
  }
}

.add-to-queue {
  width: 111px;
  height: 34px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #b92f2c;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 100px;
  text-transform: uppercase;
  transition-property: color, border, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.add-to-queue:hover, .add-to-queue:focus {
  color: #ffffff;
  border: none;
  background-color: #b92f2c;
  box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
}
@media screen and (min-width: 768px) {
  .add-to-queue {
    width: 119px;
    height: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .add-to-queue {
    width: 134px;
    height: 42px;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.team-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.team-section.dark-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}
.team-section__container {
  height: 100vh;
}
.team-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.team-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cards-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  height: 92vh;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow-y: auto;
}
.cards-container::-webkit-scrollbar {
  width: 0;
}

.cards-container .card {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__title {
  z-index: 5;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}

.team-title-accent {
  text-shadow: 1px 1px 1px #000;
}

.card__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0.8;
  transition: 0.4s;
}
.cards-container .card:hover .card__content {
  opacity: 1;
  transform: translateY(-20px);
}

.imgBox {
  position: relative;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(15, 15, 15, 0.705);
}
.imgBox__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contentBox__title {
  text-shadow: 0.5px 0.5px 0.5px #000;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}
.contentBox__subtitle {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

@media screen and (min-width: 480px) {
  .team-section {
    max-width: 650px;
  }
  .card__content {
    opacity: 1;
    transition: 0.5s;
  }
  .cards-container .card:hover .card__content {
    opacity: 1;
    transform: translateY(-20px);
  }
}
@media screen and (min-width: 1032px) {
  .team-section {
    max-width: 1100px;
  }
}/*# sourceMappingURL=index.css.map */